[Desktop Entry]
Encoding=UTF-8
Name=Sarielsaz Core
Comment=Connect to the Sarielsaz P2P Network
Comment[de]=Verbinde mit dem Sarielsaz peer-to-peer Netzwerk
Comment[fr]=Sarielsaz, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Sarielsaz, eşten eşe kriptografik sanal para birimi
Exec=sarielsaz-qt %u
Terminal=false
Type=Application
Icon=sarielsaz128
MimeType=x-scheme-handler/sarielsaz;
Categories=Office;Finance;
