policy_module(sarielsaz, 1.100.1)

########################################
#
# Declarations
#

type sarielsaz_t;
type sarielsaz_exec_t;
init_daemon_domain(sarielsaz_t, sarielsaz_exec_t)

permissive sarielsaz_t;

type sarielsaz_initrc_exec_t;
init_script_file(sarielsaz_initrc_exec_t)

type sarielsaz_conf_t;
files_type(sarielsaz_conf_t)

type sarielsaz_var_lib_t;
files_type(sarielsaz_var_lib_t)

type sarielsaz_var_run_t;
files_type(sarielsaz_var_run_t)

type sarielsaz_port_t;
corenet_port(sarielsaz_port_t)

########################################
#
# sarielsaz local policy
#
allow sarielsaz_t self:process { fork };

allow sarielsaz_t self:fifo_file rw_fifo_file_perms;
allow sarielsaz_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(sarielsaz_t, sarielsaz_conf_t, sarielsaz_conf_t)
manage_files_pattern(sarielsaz_t, sarielsaz_conf_t, sarielsaz_conf_t)

manage_dirs_pattern(sarielsaz_t, sarielsaz_var_lib_t, sarielsaz_var_lib_t)
manage_files_pattern(sarielsaz_t, sarielsaz_var_lib_t, sarielsaz_var_lib_t)
files_var_lib_filetrans(sarielsaz_t, sarielsaz_var_lib_t, { dir file })

manage_dirs_pattern(sarielsaz_t, sarielsaz_var_run_t, sarielsaz_var_run_t)
manage_files_pattern(sarielsaz_t, sarielsaz_var_run_t, sarielsaz_var_run_t)

sysnet_dns_name_resolve(sarielsaz_t)
corenet_all_recvfrom_unlabeled(sarielsaz_t)

allow sarielsaz_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(sarielsaz_t)
corenet_tcp_sendrecv_generic_node(sarielsaz_t)
corenet_tcp_sendrecv_all_ports(sarielsaz_t)
corenet_tcp_bind_generic_node(sarielsaz_t)

gen_require(`
    type sarielsaz_port_t;
')
allow sarielsaz_t sarielsaz_port_t:tcp_socket name_bind;

gen_require(`
    type sarielsaz_port_t;
')
allow sarielsaz_t sarielsaz_port_t:tcp_socket name_connect;

domain_use_interactive_fds(sarielsaz_t)

files_read_etc_files(sarielsaz_t)

miscfiles_read_localization(sarielsaz_t)

sysnet_dns_name_resolve(sarielsaz_t)

allow sarielsaz_t sarielsaz_exec_t:file execute_no_trans;
allow sarielsaz_t self:process setsched;
corecmd_exec_ls(sarielsaz_t)
corenet_tcp_connect_http_port(sarielsaz_t)
dev_read_urand(sarielsaz_t)
fs_getattr_xattr_fs(sarielsaz_t)
kernel_read_system_state(sarielsaz_t)
