[Unit]
Description=Sarielsaz's distributed currency daemon
After=network.target

[Service]
User=sarielsaz
Group=sarielsaz

Type=forking
PIDFile=/var/lib/sarielsazd/sarielsazd.pid
ExecStart=/usr/bin/sarielsazd -daemon -pid=/var/lib/sarielsazd/sarielsazd.pid \
-conf=/etc/sarielsaz/sarielsaz.conf -datadir=/var/lib/sarielsazd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
